<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>

    <!-- Product tabs details -->
    <div class="panel" ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
    </div>

    <div class="panel" ng-show="tab.isSet(2)">
        <h4>Specifications</h4>
        <p>Shine : {{product.shine}}</p>
    </div>

    <div class="panel" ng-show="tab.isSet(3)">
        <ul>
            <h4>Reviews</h4>

            <!-- Product reviews -->
            <li ng-repeat="review in product.reviews">
                <p><strong>{{review.stars}} Stars</strong> {{review.body}}<br>
                    - {{review.author}} on {{review.createdOn | date:'MM/dd/yyyy @ h:mma'}}</p>
            </li>
        </ul>

        <!--  Review Form -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <!--  Live Preview -->
            <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
            </blockquote>

            <!--  Review Form -->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                    <option value="">Rate the Product</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
            </fieldset>
            <fieldset class="form-group">
                <div>reviewForm is {{reviewForm.$valid}}</div>
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
        </form>
    </div>
</section>